<div class="services">
  <div class="row">
    <div class="col-sm-3" data-aos="zoom-in-up">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/images/front.webp" class="card-img-top" alt="...">
          <h5 class="card-title">Frontend Development</h5>
          <p class="card-text">Technologies : HTML, CSS, Javascript, Angular, Bootstrap, VB, Git</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3" data-aos="zoom-in-up">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/images/backend.webp" class="card-img-top" alt="...">
          <h5 class="card-title">Backend Development</h5>
          <p class="card-text">Technologies: Node JS, ExpressJS</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3" data-aos="zoom-in-up">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/images/main_databases.jpg" class="card-img-top" alt="...">
          <h5 class="card-title">Database Management</h5>
          <p class="card-text">Technologies: MongoDB, SQL</p>
          
        </div>
      </div>
    </div>
  </div>
  
</div>
